body {
    font-family: 'Pretendard',Segoe UI, Inter, '맑은 고딕', 'Malgun Gothic', Arial, sans-serif;
}

.custom-select {
    border-radius:10rem;
    height:50px;
}

.sidebar .sidebar-card {
    padding-bottom: 0px;
}

.bg-gradient-primary {
    background-color:#532DF6;
    background-image: none;
}

.btn-primary:hover {
    background: #E8E8FF !important;
    color: #532DF6 !important;
}

.btn-primary {
    background:#532DF6 !important;
    border: 1px solid #532DF6 !important;
    color:#fff !important;
}

body {
    font-family: 'Pretendard',Segoe UI, Inter, '맑은 고딕', 'Malgun Gothic', Arial, sans-serif;
}

.sidebar .sidebar-card p:hover {
    cursor: pointer;
    color:#fff;
}

.tabulator-wrapper {
    height:600px;

}

.sidebar .nav-item .collapse {
    z-index: 50;
}

#registrationForm .table td, .table th {
    font-size: 12px;
    padding:5px;
    text-align:center;
}

#registrationForm .table thead th {
    vertical-align: middle;
}

#registrationForm .form-control {
    font-size:12px;
}

#registrationForm .table tbody:nth-of-type(even) {
     background-color: #eaecf4; /* 또는 board-style */
 }

.welcome {
    background: linear-gradient(to right, #c8f1ff, #e7efff);
    padding: 30px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    grid-column: 1;
}


.welcome h2 {
    font-size: 28px;
    color: #4b2aad;
    margin-bottom: 10px;
}

.statusWrapper {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 2px;
}

.statusWrapper i {
    margin-right: 5px;
}

.statusWrapper span {
    float: right;
    margin-right:5px;
}

.row {
    margin-bottom:10px;
}

.listGroup {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.topList {
    border: none !important;
    margin: 0 !important;
}

.topWrapper {
    padding: 0;
}

#wrapper #content-wrapper {
    background: #fff;
}

.card-body:not(.cntWrapper) {
    padding: 0;
}