<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments.html :: head"></head>
<body id="page-top">
<div id="wrapper">
    <div th:replace="fragments.html :: main-sidebar"></div>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <div th:replace="fragments.html :: main-nav"></div>

            <div class="container-fluid">

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Glossary</h1>
                    <button onclick="saveData()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">save</button>
                </div>

                <!-- write -->
                <div class="row">
                    <div class="col-xl-12">
                        <div id="luckysheet" style="margin:0px;padding:0px;width:100%;height:700px;left: 0px;top: 0px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragments.html :: main-footer"></footer>
    </div>
</div>

<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script>
    // 데이터를 백엔드에 저장
    function saveData() {
		const data = luckysheet.getAllSheets(); // Luckysheet에서 데이터 가져오기
		
		$.ajax({
			url: "/api/glo/save",
			type: "POST",
			contentType: "application/json",
			data: JSON.stringify({sheetData: data}),
			success: function(response) {
				Swal.fire("저장 성공!", "", "success").then(() => {
					location.reload(); // ✅ 페이지 새로고침
				});
			},
			error: function() {
				UT.handleAjaxError(error);
			}
		})
	}

    // 백엔드에서 데이터를 불러와 Luckysheet에 로드
    function loadData() {
        fetch("/api/glo/load")
            .then(response => response.json())
            .then(data => {
                let sheetData = data.sheetData;
                if (data.sheetData) {
                    sheetData = data.sheetData;
                } else {
                    sheetData = [
                        {
                            name: "sheet1"
                        }
                    ];
                }
                luckysheet.create({
                    container: "luckysheet",
                    data: sheetData,
                    title: "Glossary",
                    showinfobar: false
                });
            })
            .catch(error => UT.handleAjaxError(error));
    }

    $(function () {
        loadData();
        $(".luckysheet-share-logo").css("display", "none");
    })
</script>
<th:block th:replace="fragments.html :: common-scripts"></th:block>

</body>
</html>
