<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments.html :: head"></head>
<body id="page-top">
<div id="wrapper">
	<div th:replace="fragments.html :: main-sidebar"></div>
	
	<div id="content-wrapper" class="d-flex flex-column">
		<div id="content">
			<div th:replace="fragments.html :: main-nav"></div>
			
			<div class="container-fluid">
				<div class="d-sm-flex align-items-center justify-content-between mb-4">
					<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
				</div>
				
				<!-- Content Row -->
				<div class="row">
					
					<!-- ✅ PENDING 요청 리스트 이동 (기본 리스트) -->
					<div class="col-xl-3 col-md-6 mb-4">
						<div class="card border-left-primary shadow h-100 py-2" style="cursor: pointer;" onclick="cardClick('ALL')">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
											Pending Request
										</div>
										<div class="h5 mb-0 font-weight-bold text-gray-800" id="pendingCount">-</div>
									</div>
									<div class="col-auto">
										<i class="fas fa-calendar fa-2x text-gray-300"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- ✅ HOLDING 상태 요청 리스트 이동 -->
					<div class="col-xl-3 col-md-6 mb-4">
						<div class="card border-left-success shadow h-100 py-2" style="cursor: pointer;" onclick="cardClick('HOLDING')">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
											Holding Request
										</div>
										<div class="h5 mb-0 font-weight-bold text-gray-800" id="holdingCount">-</div>
									</div>
									<div class="col-auto">
										<i class="fas fa-pause fa-2x text-gray-300"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-xl-3 col-md-6 mb-4">
						<div class="card border-left-info shadow h-100 py-2" style="cursor: pointer;" onclick="cardClick('glo')">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Glossary</div>
										<div class="row no-gutters align-items-center">
											<div class="col-auto">
												<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">1871</div>
											</div>
										</div>
									</div>
									<div class="col-auto">
										<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-xl-3 col-md-6 mb-4">
						<div class="card border-left-warning shadow h-100 py-2" style="cursor: pointer;" onclick="cardClick('lang')">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
											Total Dictionary
										</div>
										<div class="h5 mb-0 font-weight-bold text-gray-800">8892</div>
									</div>
									<div class="col-auto">
										<i class="fas fa-comments fa-2x text-gray-300"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Content Row -->
				<div class="row">
					<!-- Top 10 Requests -->
					<div class="col-xl-6 col-lg-6">
						<div class="card shadow mb-4">
							<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
								<h6 class="m-0 font-weight-bold text-primary">Top 10 Recent Requests</h6>
							</div>
							<div class="card-body">
								<div id="requestTop"></div>
							</div>
						</div>
					</div>
					
					<!-- Top 10 Holding Requests -->
					<div class="col-xl-6 col-lg-6">
						<div class="card shadow mb-4">
							<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
								<h6 class="m-0 font-weight-bold text-primary">Top 10 Recent Holding Requests</h6>
							</div>
							<div class="card-body">
								<div id="holdingTop"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<footer th:replace="fragments.html :: main-footer"></footer>
	</div>
</div>

<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		loadRequestCounts();
	});
	
	function loadRequestCounts() {
		// PENDING COUNT 가져오기
		$.ajax({
			url: "/api/request/count",
			type: "GET",
			success: function (data) {
				$("#pendingCount").text(data.pendingCnt);
				$("#holdingCount").text(data.holdingCnt);
			},
			error: function () {
				console.error("Failed to load PENDING request count");
			}
		});
		
		new Tabulator("#requestTop", {
			layout: "fitColumns",
			ajaxURL: "/api/request/request/top10",
			columns: [
				{ title: "Request UserName", field: "reqUsrNm", headerSort: false, hozAlign: "center", headerHozAlign: "center", minWidth:200},
				{ title: "Request MultilangKey", field: "details",hozAlign: "center", headerHozAlign: "center" , minWidth:200, formatter: function(cell, formatterParams, onRendered) {
					let joinTxt = "";
					cell.getValue().forEach(row => {
						joinTxt += row.multlangKey + ",";
					});
					return joinTxt.slice(0, -1);
				}, headerSort: false},
				{ title: "Request Date", field: "reqDttm", hozAlign: "center", headerHozAlign: "center" , minWidth:200, headerSort: false, formatter: function(cell) {
						return UT.formatDate(cell.getValue());
				}},
			],
			// ✅ 행 클릭 이벤트 추가
			rowFormatter: function(row) {
				row.getElement().onclick = function(e) {
					if (e.target.tagName !== "INPUT") {
						let dicReqId = row.getData().dicReqId;
						let acptSts = "ALL";
						window.location.href = `/req/detail/${dicReqId}?acptSts=${acptSts}`;
					}
				};
			}
		});
		
		new Tabulator("#holdingTop", {
			layout: "fitColumns",
			ajaxURL: "/api/request/holding/top10",
			columns: [
				{ title: "Request UserName", field: "reqUsrNm", headerSort: false, hozAlign: "center", headerHozAlign: "center", minWidth:200},
				{ title: "Request MultilangKey", field: "details",hozAlign: "center", headerHozAlign: "center", minWidth:200, formatter: function(cell, formatterParams, onRendered) {
						let joinTxt = "";
						cell.getValue().forEach(row => {
							joinTxt += row.multlangKey + ",";
						});
						return joinTxt.slice(0, -1);  // 마지막 문자 제거
					}, headerSort: false},
				{ title: "Request Date", field: "reqDttm" , hozAlign: "center", headerHozAlign: "center", minWidth:200, headerSort: false, formatter: function(cell) {
						return UT.formatDate(cell.getValue());
				}},
			],
			// ✅ 행 클릭 이벤트 추가
			rowFormatter: function(row) {
				row.getElement().onclick = function(e) {
					if (e.target.tagName !== "INPUT") {
						let dicReqId = row.getData().dicReqId;
						let acptSts = "HOLDING";
						window.location.href = `/req/detail/${dicReqId}?acptSts=${acptSts}`;
					}
				};
			}
		});
	}
	
	function cardClick(status) {
		location.href = `/req/${status}/lists`;
	}
</script>
<th:block th:replace="fragments.html :: common-scripts"></th:block>
</body>
</html>
