<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments.html :: head">
</head>
<body id="page-top">
<div id="wrapper">
    <div th:replace="fragments.html :: main-sidebar(currentMenu='multilang', currentSubMenu='multilang')"></div>
	<div th:replace="registration_modal.html"></div>
	
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <div th:replace="fragments.html :: main-nav"></div>

            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800 pageTitle">Multi Language Data</h1>
					<button id="langList" class="btn btn-primary" data-toggle="modal" data-target="#registrationModal">
						Request Registration
					</button>
                </div>

                <div class="card shadow mb-4">
                    <div class="card-header">
						<div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" style="float:right;">
							<div class="input-group">
								<input id="searchText" type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
									   aria-label="Search" aria-describedby="basic-addon2" style="border:1px solid lightgray !important;">
								<div class="input-group-append">
									<button class="btn btn-primary" type="button" onclick="filterData()">
										<i class="fas fa-search fa-sm"></i>
									</button>
								</div>
							</div>
						</div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="tabulator-wrapper" id="multlangTable"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="fragments.html :: main-footer"></footer>
    </div>
</div>

<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		table = new Tabulator("#multlangTable", {
			layout: "fitDataTable", // 데이터를 컬럼에 맞게 조정
			columnMinWidth: 120,
			ajaxURL: "/api/multlang/list",
			groupBy:"multlangKey",
			movableColumns: true,
			columns: [
				{ title: "Code", field: "multlangCcd" },
				{ title: "Type", field: "multlangTyp"  },
				{ title: "Word(Key)", field: "multlangKey" },
				{ title: "Translation", field: "multlangTranslCont"  },
				{ title: "Translation Abbr", field: "multlangTranslContAbbr"  },
				{ title: "Abbr Use (Y/N)", field: "multlangAbbrUseYn"  },
				{ title: "Modified Date", field: "multlangModDttm", formatter: function (cell) { return UT.formatDateTime(cell.getValue()); } },
				{ title: "Final Translation", field: "multlangTranslFnlCont"  },
				{ title: "Remarks", field: "rmk"  },
				{ title: "Registered By", field: "regrId"  },
				{ title: "Registration Date", field: "regDttm", formatter: function (cell) { return UT.formatDateTime(cell.getValue()); } },
				{ title: "Modified By", field: "modrId"  },
				{ title: "Modification Date", field: "modDttm", formatter: function (cell) { return UT.formatDateTime(cell.getValue()); } }
			],
			rowFormatter: function(row) {
				row.getElement().onclick = function(e) {
					console.log("click")
					window.location.href = `/multlang/history/${encodeURIComponent(row.getData().multlangKey)}`;
				}
			}
		});
	});
	
	// 검색 기능 추가
	function filterData() {
		table.setFilter(function(row) {
			let searchValue = $("#searchText").val().toLowerCase(); // 검색어 가져오기
			let rowData = row; // 현재 행 데이터
			
			return rowData.multlangKey?.toLowerCase().includes(searchValue) ||
					rowData.multlangTranslCont?.toLowerCase().includes(searchValue) ||
					rowData.multlangTranslContAbbr?.toLowerCase().includes(searchValue);
		});
	}
</script>
<th:block th:replace="fragments.html :: common-scripts"></th:block>
</body>
</html>
