<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments.html :: head"></head>
<body id="page-top">
<div id="wrapper">
    <div th:replace="fragments.html :: main-sidebar(currentMenu='user', currentSubMenu='user')"></div>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <div th:replace="fragments.html :: main-nav"></div>

            <div class="container-fluid">

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800 pageTitle">User Management</h1>
                    <div>
                        <button id="userRegBtn" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#registModal">User registration</button>
                        <button id="saveBtn" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Save</button>
                    </div>
                </div>

                <!-- write -->
                <div class="card shadow mb-4">
                    <div class="card-header">
                        <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" style="float:right;">
                            <div class="input-group">
                                <input id="searchText" type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                       aria-label="Search" aria-describedby="basic-addon2" style="border:1px solid lightgray !important;">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" onclick="filterData()">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="tabulator-wrapper" id="userTable"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer th:replace="fragments.html :: main-footer"></footer>
    </div>
</div>

<div class="modal fade" id="registModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="userForm" class="user" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">User registration</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="padding-left:30px; padding-right: 30px;">
                    <div class="form-group">
                        <label for="username">UserInfo</label>
                        <input type="text" class="form-control form-control-user" id="username" name="username" placeholder="User ID">
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control form-control-user" id="usrNm" name="usrNm" placeholder="User Name">
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control custom-select" id="dept" name="dept">
                                <option value="P2P">P2P Solution Group</option>
                                <option value="D2S">D2S Solution Group</option>
                                <option value="CONTRACT">Contract</option>
                                <option value="AI">AI</option>
                                <option value="RND">R&D</option>
                            </select>
                        </div>
                    </div>
                    <hr class="sidebar-divider my-0">
                    <div class="form-group position-relative mt-2">
                        <label for="role">Role</label>
                        <div class="input-group">
                            <select class="form-control custom-select" id="role" name="role">
                                <option value="USER">User</option>
                                <option value="ADMIN">Admin</option>
                                <option value="SYS_ADMIN">System Admin</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Registration</button>
                </div>
                <input type="hidden" id="useYn" name="useYn" />
            </form>
        </div>
    </div>
</div>

<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script>
    let table;
    $(function() {
        table = new Tabulator("#userTable", {
			layout: "fitColumns",
            ajaxURL: "/api/user/lists",
			movableColumns: true,
            columns: [
                { title: "UserID", field: "username", minWidth: 200, hozAlign: "center", headerHozAlign:"center"},
                { title: "UserName", field: "usrNm", minWidth: 200, hozAlign: "center", headerHozAlign:"center"},
                { title: "DeptCode", field: "deptCd" , minWidth: 200, hozAlign: "center", headerHozAlign:"center"},
                { title: "DeptName", field: "deptNm" , minWidth: 200, hozAlign: "center", headerHozAlign:"center"},
                { title: "UseYN", field: "useYn" , minWidth: 200, hozAlign: "center", headerHozAlign:"center", editor:true},
                { title: "Role", field: "role" , minWidth: 200, hozAlign: "center", headerHozAlign:"center"},
            ],
        });
        table.on("cellClick", function(e, cell) {
            if(cell.getField() === "useYn") return;
            $("#userRegBtn").click();
            Object.entries(cell.getData()).forEach(([key, value]) => {
                $(`#${key}`).val(value);
            });
            $("#username").attr("readonly", true);
        });


        $("#userRegBtn").on("click", function() {
            $("#userForm input").each(function(index, item) {
                $(item).val("");
            });
            $("#role").val("USER");
            $("#username").attr("readonly", false);
        });

        $("#userForm").submit(function(e) {
            e.preventDefault();

            let formData = new FormData(this);
            const data = Object.fromEntries(formData);
            data.deptNm = $("#dept option:selected").text();
            let jsonData = JSON.stringify(data);
            $.ajax({
                url:"/api/user/add",
                type: "POST",
                contentType: "application/json",
                data: jsonData,
                success: function(data) {
                    location.reload();
                },
                error: function(error) {
					UT.handleAjaxError(error);
                }
            });
        });

        $("#saveBtn").on("click", function() {
            const data = table.getEditedCells().map(edit => edit.getData());
            $.ajax({
                url: '/api/user/modify',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    Swal.fire("저장 성공!", "", "success").then(() => {
                        location.reload();
                    });
                },
                error: function(err) {
                    UT.handleAjaxError(err);
                }
            });
        });
    });

    function filterData() {
        // table.setFilter([
        //      { field: "username", type: "like", value: $("#searchText").val()}
        //     ]);


        table.setFilter(function(row) {
            let searchValue = $("#searchText").val().toLowerCase(); // 검색어 가져오기
            let rowData = row; // 현재 행 데이터

            return rowData.username.toLowerCase().includes(searchValue) ||
                rowData.deptNm.toLowerCase().includes(searchValue) ||
                rowData.usrNm.toLowerCase().includes(searchValue) ||
                rowData.role.toLowerCase().includes(searchValue);
        });
    }
</script>
<th:block th:replace="fragments.html :: common-scripts"></th:block>
</body>
</html>

